body {
  box-sizing: border-box;
}

.log-list {
  list-style: none;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.log-list__el  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 350px;
  height: 30px;
  background: #34495E;
  border-radius: 3px;
  box-shadow: 0 0 3px #000000 inset;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
}

.log-list__input {
  margin-top: 5px;
  border: 2px solid #2980B9;
  background: #25354b;
  color: #ffffff;
}

.submits{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
