<div class="container">
  <span>{{info}}</span>
  <form (ngSubmit)="login(formData)" #formData='ngForm'>
    <div class="log-list">
      <label class="log-list__el">E-mail</label>
      <input class="log-list__el log-list__input" ngModel type="email" name="email" required>

      <label class="log-list__el">Hasło</label>
      <input class="log-list__el log-list__input" ngModel type="password" name="password" required>

      <div class="submits">
        <button class="btn" type="submit" [disabled]="formData.invalid">Zaloguj</button>
        <button class="btn" type="button" [disabled]="formData.invalid" (click)="signup(formData)">Zarejestruj</button>
      </div>
    </div>
  </form>
  </div>
