.cointeinar {
  /* padding: 20px; */
  margin: 20px;
  margin-top: 30px;
  color: rgb(155, 153, 151);
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 0;
  color: #E9B64A;
}


@media (max-width: 600px) {

  h1 {
    text-align: center;
    font-size: 30px;
    color: #E9B64A;
  }

  h2{
    margin: 0;
    padding: 0;
  }

  .cointeinar {
    margin: 5px;
  }
}
