<div class="game-conteiner">
  <section class="room-zone" *ngIf="!userInRoom">
    <form (ngSubmit)="newRoom(formData)" #formData='ngForm'>
      <div class="new-room">
          <input ngModel type="text" name="newRoom" class="new-room__input">
          <button type="submit" class="btn new-room__btn">Utworz</button>
      </div>
    </form>
    <ul class="rooms-list">
      <li class="room" *ngFor="let room of roomsList">
        <span class="room__name">{{room.name}}</span>
        <span class="room__author">utworzy: <p class="room__author-name">{{room.userId}}</p></span>
        <button type="button" class="btn" (click)="joinTheRoom(room)">Dolącz</button>
      </li>
    </ul>
  </section>
  <section class="game-zone" *ngIf="userInRoom">
    <div class="game-board">
        <div *ngFor="let field of boardFields" class="board-field" (click)="selectedField(field)">
            <img src="/assets/icons/{{field.background}}.png" alt="" [ngStyle]="getMyStyle(field)" class="imgCard">
          </div>
    </div>
    <div class="statistics-board">
      <div class="players" *ngIf="myRoom.userId">
        <div class="player">
          <div class="player-name"><p class="player__turn" *ngIf="myRoom.turn === 'author'"> &#x23f5; </p> {{myRoom.userId}}</div>
          <div class="score">{{myRoom.userScore}}</div>
        </div>
        <div class="score">:</div>
        <div class="player">
          <div class="score">{{myRoom.guestScore}}</div>
          <div class="player-name">{{myRoom.guestEmail}} <p class="player__turn" *ngIf="myRoom.turn === 'guest'"> &#x23f4; </p></div>
        </div>
      </div>
      <button type="button" class="btn btn__leave" (click)="leaveTheRoom()">Opuść pokój</button>
    </div>

  </section>
</div>
