<!-- <nav class="nav-site" >

  <ol>
    <li> <a routerLink="/home" routerLinkActive="active">Strona glowna</a></li>
    <li> <a routerLink="/memory" routerLinkActive="active">Pamięć</a></li>
    <li> <a routerLink="/snake" routerLinkActive="active">Snake</a></li>
    <li> <a routerLink="/noughts_and_crosses" routerLinkActive="active">Kolko i krzyżyk</a></li>
  </ol>

</nav> -->
<div>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a class="brand__link" href="#!">Games Room</a>
    </div>
    <nav class="nav-site">
      <div (click)="mobilNav()" class="nav-mobile"><div id="nav-toggle"><span></span></div></div>
      <ul class="nav-list" id="nav-list">
        <li class="nav-list__el">
          <a routerLink="/home" routerLinkActive="activeNav" class="nav-list__link" (click)="clouseMobileNav()">Strona glowna</a>
        </li>
        <li class="nav-list__el">
          <a routerLink="/memory" routerLinkActive="activeNav" class="nav-list__link" (click)="clouseMobileNav()">Pamięć</a>
        </li>
        <li class="nav-list__el">
          <a routerLink="/snake" routerLinkActive="activeNav" class="nav-list__link" (click)="clouseMobileNav()">Snake</a>
        </li>
        <li class="nav-list__el">
          <a routerLink="/noughts_and_crosses" routerLinkActive="activeNav" class="nav-list__link" (click)="clouseMobileNav()">Kolko i krzyżyk</a>
        </li>
        <li  (click)="clickNav($event)" class="li-dropdown nav-list__el">
          <a id="gry" class="nav-list__link">Gry</a>
          <ul  class="nav-dropdown" id="nav-dropdown" [ngStyle]="getMyStyle()">
            <li class="nav-list__el nav-dropdown__el">
              <a routerLink="/memory" routerLinkActive="activeNav" class="nav-list__link nav-dropdown__link" (click)="clouseMobileNav()">Pamięć</a>
            </li>
            <li class="nav-list__el nav-dropdown__el">
              <a routerLink="/snake" routerLinkActive="activeNav" class="nav-list__link nav-dropdown__link" (click)="clouseMobileNav()">Snake</a>
            </li>
            <li class="nav-list__el nav-dropdown__el">
              <a routerLink="/noughts_and_crosses" routerLinkActive="activeNav" class="nav-list__link nav-dropdown__link" (click)="clouseMobileNav()">Kolko i krzyżyk</a>
            </li>
          </ul>
        </li>
        <li (click)="clouseMobileNav()" class="nav-list__el">
          <a *ngIf="!authService.user" routerLink="/login" class="nav-list__link" routerLinkActive="activeNav">Zaloguj się</a>
          <a *ngIf="authService.user" class="nav-list__link" (click)="logout()">Wyloguj się</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<router-outlet></router-outlet>

</div>
